<%- include('header.ejs', {title}) %>

<div class="container">
  <h1><%= message %></h1>
      <p>
        tx_id: <%= snapshots.tx_id %> - 
        <% if (snapshots.tx_hash) { %>
        tx_hash: <%= snapshots.tx_hash %> - 
        <% } %>
        <% if (snapshots.date_confirmed) { %>
        date_confirmed: <%= snapshots.date_confirmed %> - 
        <% } %>
        match_id: <%= snapshots.tour_id %> - 
        player1_id: <%= snapshots.player1_id %> - 
        player2_id: <%= snapshots.player2_id %> - 
        player1_score: <%= snapshots.player3_id %> - 
        player2_score: <%= snapshots.player4_id %> - 
      </p>
</div>

<%- include('footer.ejs') %>
