<%- include('header.ejs', {title}) %>
<div class="max-w-6xl mx-auto px-4 my-6 space-y-4 ">
    <h3 class="text-center rounded-xl bg-white opacity-95 text-xl font-bold"><%= message %></h3>
</div>
<div class="max-w-6xl mx-auto px-4 space-y-6">

    
    <%- include('snapshots.ejs') %>
    
    <div class="overflow-x-auto rounded-xl border bg-white opacity-95 shadow-sm border-gray-200">
        <div class="border-b border-gray-200 px-6 py-4 bg-gray-50 text-gray-600 rounded-t-xl">
            <h2 class="text-lg font-semibold">List of tournaments in snapshot</h2>
        </div>
    
    <div>
        <table class="min-w-full text-sm">
            <thead class="bg-gray-50 text-xs uppercase text-gray-500">
                <tr>
                    <th class="px-4 py-3 text-left">id</th>
                    <th class="px-4 py-3">tx_hash</th>
                    <th class="px-4 py-3">snap_hash</th>
                    <th class="px-4 py-3">block_timestamp</th>
                    <th class="px-4 py-3">t_id</th>
                    <th class="px-4 py-3">p1_id</th>
                    <th class="px-4 py-3">p2_id</th>
                    <th class="px-4 py-3">p3_id</th>
                    <th class="px-4 py-3">p4_id</th>
                </tr>
            </thead>
            <tbody class="divide-y">
            <% for (const row of snapshots) { %>
            <tr class="hover:bg-gray-50 border-gray-200">
                <td class="px-4 py-2"><%= row.id %></td>
                <td class="px-4 py-2 font-mono text-xs truncate max-w-xs"><%= row.tx_hash %></td>
                <td class="px-4 py-2 font-mono text-xs truncate max-w-xs"><%= row.snap_hash %></td>
                <td class="px-4 py-2"><%= row.block_timestamp %></td>
                <td class="px-4 py-2"><%= row.tour_id %></td>
                <td class="px-4 py-2"><%= row.player1_id %></td>
                <td class="px-4 py-2"><%= row.player2_id %></td>
                <td class="px-4 py-2"><%= row.player3_id %></td>
                <td class="px-4 py-2"><%= row.player4_id %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    </div>

    
</div>

<%- include('footer.ejs') %>
